::selection {
	background: $primary;
	color: $secondary;
}

* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
	height: 100%;
}

body {
	position: relative;
	background: $secondary;
	box-sizing: border-box;
	font-family: $basefont;
	margin: 0;
}

div {
	display: block;
}

.col-5-5 {
	width: 45%;
}

@media screen and (max-width: $small) {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}