.footer {
	padding: 1.2rem 0;
	background: $dark;
	box-shadow: 0px 0px 10px rgba($black, .55);
	position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10rem;
    color: $tertiary;
}