.navigation {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	right: 0;
	height: 5rem;
	background: $dark;
	transition: $transitionspeed;

	&__row {
		height: 100%;
	}

	&__wrapper {
		height: 100%;

	}

	&__link {
		text-align: center;
		height: 100%;
		position: relative;
		background: $dark;
		transition: 500ms $easeInOutQuint;

		&:hover {
			background: lighten($dark, 25%);

			.navigation__innertext:after {
				width: 100%;
			}
		}

	}

	&__innertext {
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// color: lighten($light, 25%);
		color: $secondary;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			background: lighten($secondary, 25%);
			height: .1rem;
			transform: translateY(100%);
			transition: 500ms $easeInOutQuint;
		}
	}
}