.review {

	&__title {
		margin: 5rem 0;

	}

	&__wrapper {
		margin: 3rem 0;
	}

	&__posttitle {
		margin-bottom: 2rem;
		font-size: 2rem;
	}

	&__author {
		font-weight: 900;
	}

	&__content {

	}
}